.shopInfo{
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 75%;
	background-image: url("../images/shop_bg.png");
	background-size: cover;
}
.popup-activities{
	background-image: url("../images/shop_bg.png");
	background-size: cover;
}
.topContainer {
	padding: .5em;
	text-align: left;
	vertical-align: middle;
	font-size: .6rem;
}
.topContainer table{
	width: 100%;
}
.topContainer td{
	padding: .2rem;
}
.logo img{
	border: 2px solid white;
}
.leftBar{
	position: absolute;
	top: 25%;
	left: 0;
	bottom: 0;
	width: 25%;
	overflow-y: scroll;
	background-color: #efefef;
}
.leftBar-item{
	border-bottom:1px solid #dadada;
	padding: .5rem .3rem;
	font-size: .8rem;
	color: #666;
	cursor: pointer;
	background-color: #efefef;
}
.leftBar-item.active{
	background-color: white;
	font-weight: 600;
	border-bottom-left-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
}
.rightList{
	position: absolute;
	left: 25%;
	right: 0;
	top: 25%;
	bottom: 0;
	overflow-y: scroll;
}
.card{
	width: 100%;
}
.list-block .item-subtitle{
	white-space: normal;
}
.cartOp{
	text-align: right;
}
.cartOp span{
	font-size: 1rem;
	line-height: 1rem;
	margin-left:.5rem;
}

#cart{
	position: absolute;
	left: 1rem;
	bottom: 1rem;
	width: 6.4em;
	height: 4em;
	line-height: 4em;
	background: url("../images/shopping_cart.png") no-repeat center;
	background-size: cover;
	z-index: 99;
}
#cart div{
	display: inline-block;
 }
#cart .count{
	float: left;
	text-align: center;
	width: 4.3em;
}
#cart .amount{
	float: left;
	text-align: center;
	width: 2em;
	font-size: .7em;
}
.modal-overlay, .popup-overlay, .preloader-indicator-overlay{
	background: rgba(255,255,255,0) !important;
}
.cartDetail{
	position: relative;
	background-color: white;
	width: 16rem;
	padding-left: .5em;
	line-height: 2em;
	border: 1px solid #679cc7;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.cartDetailTitle .buy,.cartDetailContent .reset{
	text-align: right;
}
.cartDetailContent img{
	width: 2.5rem;
	vertical-align: middle;
}
.cart-item{
	width: 16rem;
	text-align: center;
	vertical-align: middle;
	font-size: .8em;
	margin-bottom: .5em;
}
.cart-item span{
	font-size: 1em;
}
.item-element{
	width: 3.5rem;
	vertical-align: middle;
}
.item-element:nth-child(2){
	width: 6rem;
}
.item-element:nth-child(3){
	width: 2.5rem;
}
.item-element:nth-child(4){
	width: 2.5rem;
}
.cartFoot{
	text-align: center;
}
.pay{
	position: relative;
	width: 16rem;
	padding: .3em;
	line-height: 2em;
}