.shopInfo{
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 70%;
	background-image: url("../images/shop_bg.png");
	background-size: cover;
}
.popup-activities{
	background-image: url("../images/shop_bg.png");
	background-size: cover;
}
.topContainer {
	padding: 3%;
	text-align: left;
	vertical-align: middle;
	font-size: .6rem;
}
.topContainer table{
	width: 100%;
}
.topContainer td{
	padding: .2rem;
}
.logo img{
	border: 2px solid white;
}
.leftBar{
	position: absolute;
	top: 30%;
	left: 0;
	bottom: 0;
	width: 25%;
	overflow-y: scroll;
	background-color: #efefef;
}
.leftBar-item{
	border-bottom:1px solid #dadada;
	padding: .5rem .3rem;
	font-size: .8rem;
	color: #666;
	cursor: pointer;
	background-color: #efefef;
}
.leftBar-item.active{
	background-color: white;
	font-weight: 600;
	border-bottom-left-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
}
.rightList{
	position: absolute;
	left: 25%;
	right: 0;
	top: 30%;
	bottom: 0;
	overflow-y: scroll;
}
.card{
	width: 100%;
}
.list-block .item-subtitle{
	white-space: normal;
}
.cartOp{
	text-align: right;
}
.cartOp span{
	font-size: 1rem;
	line-height: 1rem;
	margin-left:.5rem;
}

#cart{
	position: absolute;
	left: 1rem;
	bottom: 1rem;
	width: 6em;
	height: 4em;
	line-height: 4em;
	background: url("../images/shopping_cart.png") no-repeat center;
	background-size: cover;
	z-index: 999999;
}
#cart div{
	display: inline-block;
 }
#cart .count{
	float: left;
	text-align: center;
	width: 4em;
}
#cart .amount{
	float: left;
	text-align: center;
	width: 2em;
	font-size: .7em;
}
.modal-overlay, .popup-overlay, .preloader-indicator-overlay{
	background: rgba(255,255,255,0) !important;
}