/* .bar-nav~.content{
	top: 4.4rem;
} */
.location{
	position:relative;
	left:0;
	right:10px;
	height:100%;
	width:90%;
	text-align: left;
}
.searchbar{
	box-sizing: border-box;
	background-color: #0894ec !important;
	padding: 8px !important;
}
.search-input input{
    display: inline-block;
    font-size: initial;
}
.search-way select{
	height: 1.4rem;
	border: 1px solid #b4b4b4;
    border-radius: .25rem;
}
.bar{
	height: auto;
	position:initial;
	color: white;
}
.bar .searchbar .searchbar-cancel{
	color: white;
}
.pageContent{
	position:relative;
	top:0px;
	bottom: 0px;
	margin-bottom: 1em;
}
#typeTable{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}
#typeTable dl,#typeTable dd{
	text-align: center;
}
#typeTable dd{
	margin: 0px;
}
.swiper-slide img {
      width: 100%;
}
.hotShop.active{
	color:#ef3204 !important;
	border-color:#ef3204 !important;
}
.neighbor.active{
	color: #0894ec !important;
	border-color:#0894ec !important;
}
.collections.active{
	color:#f59b08 !important;
	border-color:#f59b08 !important;
}
.item-title{
	color:#000;
	font-weight: bold;
}
.item-subtitle .row{
	margin-top:0.5em;
}
.card{
	margin: 0px;
}
.card-footer{
	min-height: 1.8rem;
	position:relative;
	right:0;
	margin-left:4.5rem;
	width:70%;
	-webkit-justify-content: initial;
    justify-content: initial;
    padding:0;
}