.searchbar{
	box-sizing: border-box;
	background-color: #0894ec !important;
	padding: 8px !important;
}
.search-input input{
    display: inline-block;
    font-size: initial;
}
.search-way select{
	height: 1.4rem;
	border: 1px solid #b4b4b4;
    border-radius: .25rem;
}
.bar{
	height: auto;
	position:initial;
	color: white;
}
.bar .searchbar .searchbar-cancel{
	color: white;
}
.page-content{
	position:relative;
	top:0px;
	bottom: 0px;
	margin-bottom: 1em;
}
.card{
	margin: 0px;
}
.card-footer{
	min-height: 1.8rem;
	position:relative;
	right:0;
	margin-left:4.5rem;
	width:70%;
	-webkit-justify-content: initial;
    justify-content: initial;
    padding:0;
}